<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Artistas</title>
    <link rel="stylesheet" href="../VIEW/index.css">
</head>
<body>
    <header>
        <h1>
            <a href="../VIEW/index.html" class="title">SISTEMA DE ARTISTAS</a>
        </h1>
        <nav>
            <a href="../VIEW/usuario.html" class="role">Usuarios</a>
        </nav>
    </header>
    
    <section class="crud-section">
        <h2>Gestión de Artistas (CRUD)</h2>
        <form id="artistForm">
            <label for="id">ID</label>
            <input type="number" id="id" placeholder="Ingrese ID" required>
            
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Ingrese el nombre" required>
            
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Ingrese el apellido" required>
            
            <label for="tipo_arte">Tipo de Arte</label>
            <input type="text" id="tipo_arte" placeholder="Ingrese el tipo de arte" required>
            
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" placeholder="Ingrese una breve descripción"></textarea>
            
            <label for="contacto">Contacto</label>
            <input type="text" id="contacto" placeholder="Ingrese el contacto" required>
            
            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" placeholder="Ingrese la ubicación" required>
            
            <label for="imagen_url">URL de Imagen</label>
            <input type="text" id="imagen_url" placeholder="Ingrese la URL de la imagen" required>

            <div class="buttons">
                <button type="button" class="btn btn-create">Crear</button>
                <button type="button" class="btn btn-read">Verificar</button>
                <button type="button" class="btn btn-update">Actualizar</button>
                <button type="button" class="btn btn-delete">Eliminar</button>
            </div>
        </form>
    </section>
    <script src="../CONTROL/control.js"></script>
</body>
</html>
